<section class="metro-grid home-category-grid">
    <ul>
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/ffbb1b/ffdd8d" alt="">
        </li>
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/427fed/a1bff6" alt="">
        </li>
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/53a93f/a9d49f" alt="">
        </li>
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/df5138/efa89c" alt="">
        </li>
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/427fed/a1bff69" alt="">
        </li>
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/df5138/efa89c" alt="">
        </li>
        <li>
            <span>Category Title</span>
          <img src="http://placehold.it/600x500.png/427fed/a1bff6" alt="">
        </li>
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/ffbb1b/ffdd8d" alt="">
        </li>
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/53a93f/a9d49f" alt="">
        </li>
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/ffbb1b/ffdd8d" alt="">
        </li>
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/df5138/efa89c" alt="">
        </li>
    </ul>
</section>
