<div class="featured-in">
  <div class="featured-in-label">
    Featured in
  </div>
  <div class="featured-in-img">
    <img src="https://consumeraffairs.global.ssl.fastly.net/static/img/common/featured_in@2x.b1a43f9455b8.png" />
    <!-- jinja code
                {{ image_polyfill(
                    "Featured press",
                    static('img/common/featured_in@2x.png'),
                    static('img/common/featured_in@2x.png'),
                    "",
                    "",
                    True
                )}}
            -->
  </div>
</div>
