<header role="banner">
    <div class="inner">
        <div class="primary">
            <!-- @include newsletter_form.html -->
            <div class="logo">
                <a href="/">
                    <svg class="logo-ca" viewBox="0 0 310 26">
                        <use xlink:href="/media/images/img.svg#logo-ca"></use>
                    </svg>
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="">Consumer News</a>
                    <li>
                        <a href="">Consumer Resources</a>
                </ul>
            </nav>
        </div>
        <div class="secondary">
            <div class="inner">
                <!-- <div class="search">
                  <form>
                    <input type="text">
                    <button type="submit">
                      <svg class="icon-search" viewBox="0 0 32 32">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/media/images/img.svg#icon-search"></use>
                      </svg>
                    </button>
                  </form>

                </div> -->
                <!-- @include searchbar.html -->

                <div class="hamburger-menu-button">
                  <div class="primary" data-ng-class="{active:active}" data-ng-mobile-click="mobileSideNavToggle(); activeToggle();">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </div>
                </div>



                <!-- <div class="sub-container">
                  <div class="row">
                    <div class="item">
                      <div class="avatar" data-ng-multi-transclude-controller="">
                        <a href="/">
                          <ins data-ng-multi-transclude="pre-label"></ins>
                          <span class="avatar-thumb">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dustintheweb/73.jpg" alt=""> </span>
                          <ins data-ng-multi-transclude="post-label"></ins>
                        </a>
                      </div>
                    </div>
                    <div class="item">
                      <div class="notification" data-ng-multi-transclude-controller="">
                        <a href="/">
                          <ins data-ng-multi-transclude="pre-label"></ins>
                          <span class="digit">3</span>
                          <ins data-ng-multi-transclude="post-label"></ins>
                        </a>
                      </div>
                    </div>
                  </div>
                  <nav>
                    <ul>
                      <li> <a href="">user info</a> </li>
                      <li> <a href="">notifications</a> </li>
                      <li data-ng-class="{active:page('/archive')}"> <a href="/archive">Archive</a> </li>
                      <li data-ng-class="{active:page('/faq')}"> <a href="/faq">FAQ</a> </li>
                      <li data-ng-class="{active:page('/contact')}"> <a href="/contact">Contact Us</a> </li>
                      <li data-ng-class="{active:page('/newsletter')}"> <a href="/newsletter">Newsletter</a> </li>
                    </ul>
                  </nav>
                </div>



              -->
            </div>
        </div>
    </div>
</header>
