<section class="hero home-brands-tout" style="background-image:url('https://s3-us-west-2.amazonaws.com/ca-hackathon/Homepage_Brands_Image.jpg');">
    <div class="home-brands-tout-content">
        <span class="home-brands-tout-content-title">ConsumerAffairs for Brands</span>
        <span class="home-brands-tout-content-subtitle">We've got your back!</span>
        <p>Join over 500 brands on ConsumerAffairs</p>
        <a href="https://www.consumeraffairs.com/brands/" class="home-brands-tout-content-button"><span>Join Now</span></a>
    </div>
</section>
