<section class="hero home-hero">
    <figure>
        <figcaption>
            <div class="primary">
                <h1>
                    <svg class="logo-ca" viewBox="0 0 310 26">
                        <use xlink:href="/media/images/img.svg#logo-ca"></use>
                    </svg>
                </h1>
                <h2>
                    Research. Review. Resolve.
                </h2>
                <!-- @include searchbar.html -->
            </div>
        </figcaption>
        <div class="gradient"></div>
        <div class="bg"></div>
    </figure>
    <div class="disclosure">
        <iframe scrolling="no" src="http://www.consumeraffairs.com/disclosure.html?context=home"></iframe>
    </div>
</section>
