<section class="metro-grid home-metro-grid">
  <div class="inner">
    <ul>
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/ffbb1b/ffdd8d" alt="">
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/427fed/a1bff6" alt="">
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/53a93f/a9d49f" alt="">
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/df5138/efa89c" alt="">
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/427fed/a1bff69" alt="">
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/df5138/efa89c" alt="">
        <li>
            <span>Category Title</span>
          <img src="http://placehold.it/600x500.png/427fed/a1bff6" alt="">
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/ffbb1b/ffdd8d" alt="">
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/53a93f/a9d49f" alt="">
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/ffbb1b/ffdd8d" alt="">
        <li>
            <span>Category Title</span>
            <img src="http://placehold.it/600x500.png/df5138/efa89c" alt="">
    </ul>
  </div>
</section>
