<section class="home-media-banner">
    <div class="label">
        Featured in
    </div>
    <div class="media-logos">
        <img src="https://consumeraffairs.global.ssl.fastly.net/static/img/common/featured_in@2x.b1a43f9455b8.png" />
        <!-- jinja code
            {{ image_polyfill(
            "Featured press",
            static('img/common/featured_in@2x.png'),
            static('img/common/featured_in@2x.png'),
            "",
            "",
            True
            )}}
        -->
    </div>
</section>
