<section class="metro-grid home-metro-grid">
  <div class="inner">
    <ul>
        <li class="large">
            <a href="http://www.consumeraffairs.com/pets/pet-food">
                <span>Dog Food</span>
                <img src="https://s3-us-west-2.amazonaws.com/ca-hackathon/Homepage_Category_DogFood.jpg" alt="">
            </a>
        <li>
            <a href="http://www.consumeraffairs.com/insurance/travel-insurance/">
                <span>Travel Insurance</span>
                <img src="https://s3-us-west-2.amazonaws.com/ca-hackathon/Homepage_Category_TravelInsurance.jpg" alt="">
            </a>
        <li>
            <a href="http://www.consumeraffairs.com/education/online-colleges/">
                <span>Online Colleges</span>
                <img src="https://s3-us-west-2.amazonaws.com/ca-hackathon/Homepage_Category_OnlineCollege.jpg" alt="">
            </a>
        <li>
            <a href="http://www.consumeraffairs.com/credit_cards/credit_cards.htm">
                <span>Credit Cards</span>
                <img src="https://s3-us-west-2.amazonaws.com/ca-hackathon/Homepage_Category_CreditCards.jpg" alt="">
            </a>
        <li>
            <a href="http://www.consumeraffairs.com/dating_services/matchmaker/">
                <span>Matchmaker</span>
                <img src="https://s3-us-west-2.amazonaws.com/ca-hackathon/Homepage_Category_Matchmaking.jpg" alt="">
            </a>
        <li>
            <a href="http://www.consumeraffairs.com/auto_trans/index.html">
                <span>Auto Transporters</span>
                <img src="https://s3-us-west-2.amazonaws.com/ca-hackathon/Homepage_Category_AutoTransport.jpg" alt="">
            </a>
        <li>
            <a href="http://www.consumeraffairs.com/furniture/adjustable-beds/">
                <span>Adjustable Beds</span>
                <img src="https://s3-us-west-2.amazonaws.com/ca-hackathon/Homepage_Category_AdjustableBeds.jpg" alt="">
            </a>
        <li class="large">
            <a href="http://www.consumeraffairs.com/homeowners/aaa_alarm_systems.html">
                <span>Alarm &amp; Security Systems</span>
                <img src="https://s3-us-west-2.amazonaws.com/ca-hackathon/Homepage_Category_HomeAlarm.jpg" alt="">
            </a>
        <li>
            <a href="http://www.consumeraffairs.com/insurance/car.html">
                <span>Auto Insurance</span>
                <img src="https://s3-us-west-2.amazonaws.com/ca-hackathon/Homepage_Category_AutoIns.jpg" alt="">
            </a>
        <li>
            <a href="http://www.consumeraffairs.com/insurance/life.html">
                <span>Life Insurance</span>
                <img src="https://s3-us-west-2.amazonaws.com/ca-hackathon/Homepage_Category_LifeInsurance.jpg" alt="">
            </a>
    </ul>
  </div>
</section>
