<div class="newsletter">
    <div class="newsletter-handle">
        <i></i>
        <span>Subscribe</span>
    </div>
    <div class="newsletter-wrapper">
        <div class="newsletter-header">
            <span class="newsletter-header-title">Stay up to date with Consumer News</span>
        </div>
        <div class="newsletter-form">
            <form method="post" action="http://us1.list-manage.com/subscribe/post">
                <input type="hidden" value="48290de6249ef2cecba9fe5de" name="u">
                <input type="hidden" value="d3e98d2605" name="id">
                <input type="hidden" name="EMAILTYPE" value="html">
                <div class="newsletter-form-content">
                    <div class="newsletter-form-item">
                        <label for="mc_fname">First Name</label>
                        <input placeholder="First name" id="mc_fname" type="text" value="" name="FNAME">
                    </div>
                    <div class="newsletter-form-item">
                        <label class="" for="mc_email">Email Address</label>
                        <input placeholder="E-mail" id="mc_email" type="text" value="" name="EMAIL">
                    </div>
                </div>
                <div class="newsletter-form-button">
                    <button type="submit">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
