/*>> Theme Font Stack >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

// -- @font-face declarations ---------------------------------
@font-face {
  font-family:'Fira Sans';
  src: url('fonts/FiraSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/FiraSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/FiraSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/FiraSans-Regular.svg#2a5977486529022fbfe12a50b1109d5e') format('svg'); /* Legacy iOS */
  font-style:	normal;
  font-weight: 400;
}
// @media screen and (-webkit-min-device-pixel-ratio:0) { // old stock android browser fix
//     @font-face {
//         font-family:"Self Hosted Font Name";
//         src:url("fonts/fonts/self-hosted-font-name-6219.svg#self-hosted-font-name-6219") format("svg");
//     }
// }
