<!doctype html>
<head>
    <!-- @include modules/meta.html -->

    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- add critical css here -->

</head>
<body>
    <div class="base">
        <!--[if IE]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- @include modules/header.html -->
        <div class="core">
            <main id="home-main" role="main">
                <!-- @include modules/home-hero.html -->
                <div class="disclosure">
                    <iframe scrolling="no" src="http://www.consumeraffairs.com/disclosure.html?context=home"></iframe>
                </div>
                <!-- @include modules/home-media-banner.html -->
                <!-- @include modules/home-metro-grid.html -->
                <!-- @include modules/home-brands-tout.html -->
                <!-- @include modules/home-list-grid.html -->
            </main>
            <!-- @include modules/footer.html -->
        </div>
    </div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/enquire/dist/enquire.js"></script>
    <!-- endbower -->
    <script src="/scripts/libs/layout.engine.js"></script>
    <script src="/scripts/libs/ios-orientationchange-fix.js"></script>
    <script src="/scripts/libs/jquery.ba-throttle-debounce.js"></script>
    <script src="/scripts/libs/jquery.easing.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main/modules/accordion.js -->
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="/scripts/main/config/enquire-config.js"></script>
    <script src="/scripts/main/config/analytics.js"></script>
    <!-- endbuild -->
</body>
</html>
