// bower:scss
// endbower
header#home-header {
    position: fixed;
    z-index: 10;
    top: 0;
    height: 50px;
    width: 100%;
    background: $ca-blue;
    @include transition;
    @include responsive-sm {
        background: none;
        top: 25px;
    };

    .bg-blue {
        background: $ca-blue;
    }

    &.logo-active {
        background: $ca-blue;
        > .inner {
            > .primary {
                transform: translate3d(0,-50px,0);
                .newsletter-wrapper {
                    transform: translate3d(0,0,0);
                }
                .logo {
                    opacity: 1;
                }
            }
        }
    }

    a {
        color: $white;
        text-decoration: none;
        &:hover {
            color: $white;
            text-decoration: none;
            background: rgba(0,0,0,0.2);
            @include responsive-sm {
                background: none;
                text-decoration: underline;
            };
        }
    }

    > .inner {
        display: table;
        table-layout: fixed;
        width: 100%;
        max-width: 1200px;
        padding: 0 0.5em 0 0;
        margin: 0 auto;

        > .primary {
            position: relative;
            display: table-cell;
            vertical-align: top;
            transition: transform 0.2s ease-in-out;

            .logo {
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
                a {
                    display: inline-block;
                    padding: 11px 10px;
                    height: 50px;
                }
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    display: inline-block;
                }
            }
            > nav {
                display: none;
            }
        }
        > .secondary {
            display: table-cell;
            vertical-align: top;
            width:50px;
            padding-top: 4px;
            //

            .search {
                display:none;
            }

            .hamburger-menu-button {
            	transform: translateZ(0);
            	display: inline-block;
            	width: 50px;
            	padding-left: 3px;
            	text-align: center;
            	vertical-align: middle;
            	//
            	> .primary {
            		padding: 0.5em 0.25em;
            		cursor: pointer;
            		border: 0;
            		border-radius: 5px;
            		transition: background .2s ease-in-out;
            		@extend .no-select;
            		//
            		&:hover, &.active {
            			background: rgba(0,0,0,0.2);
            			transition: background .2s ease-in-out;
            			//
            			.icon-bar {
            				background-color: $greyLighter;
            			}
            		}
            		&.touch:hover {
            			background: none;
            		}
            		.icon-bar {
            			line-height: 2px;
            			display: block;
            			width: 20px;
            			height: 3px;
            			margin: 4px auto;
            			vertical-align: text-top;
            			background-color: $greyLighter;
            		}
            	}
            }
        }

        .logo-ca {
            height: 0.75em;
            vertical-align: middle;
            fill: $white;
            @include responsive-sm {
                height: 1.4em;
            }
        }
    }
}
